h1{
    font-size:45px;
}
h2{
    font: size 35px;
}
.skip-color{
    color: red;
}
.blocks{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.link-button{
    background-image: linear-gradient(yellow,pink);
    font-weight: 700;
    padding:10px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: blue; 
}
.bg-banner{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.recipies{
    text-align: center;
}
.food-pics{
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    margin-bottom: 100px;
    border-radius: 10px;
    margin: 10px 50px;
}
.break-fast{
    width: 33%;
    
}
.lunch{
    width: 33%;
}
.dinner{
    width: 33%;
}
#social-site {
    border-radius: 5px;
}
.youtube{
    width: 33%;
    text-align: center;
}
.instagram{
    
    width: 33%;
     text-align: center;
}

.facebook{
    
    width: 33%;
     text-align: center;

}
footer{
    text-align: center;
    background-color: black;
    height: 150px;
    padding: 20px;
}

.food{
    color:orangered;
    
}
.net{
    color: grey;
}